:root {
  --color-main: #c7bbae;
  --color-sub: #310000;
  --color-background: #f1ebe7;
  --color-background-chat: #fde279;
  --color-gray: rgba(0, 0, 0, 0.4);
  --color-hover: #8a6464;
  --horizontal-space: 15px;
  --border-main: 1px solid rgba(0, 0, 0, 0.2);
}
