.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin: 30px 0px 20px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icon-cog {
  position: relative;
}

@keyframes rotateCog {
  form {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon-cog .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
